{% if user.avatar %}
  <img src="{{ user.avatar.url }}" alt="" class="user-avatar user-avatar--photo{% if profile_header %} user-avatar--profile-header{% elif size == 'lg' %} user-avatar--lg{% else %} user-avatar--sm{% endif %}">
{% else %}
  <span class="user-avatar{% if profile_header %} user-avatar--profile-header{% elif size == 'lg' %} user-avatar--lg{% else %} user-avatar--sm{% endif %}{% if extra_class %} {{ extra_class }}{% endif %}">{{ user.display_name|make_list|first }}</span>
{% endif %}
